.main{
	width: 33%;
	background-color: lightgreen;
	border: 10px black;
	margin: 20px;
	padding: 15px;
	margin-right: 33%;
	margin-left: 33%;
}
header{
	text-align: center;
	background-color: black;
	color: white;
	padding: 5px;
	font-size: 24px;
	border-radius: 5px 10px 5px 10px;
}
.sub-title{
	background-color: white;
	padding-left: 15px;
	padding-right: 15px;
	box-shadow: 6px 2px 2px black;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}
.name{
	font-size: 18px;
}
.family-name{
	color: red;
	font-style: italic;
}
img{
	width: 100%;
}
.list{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 2px;
	padding-bottom: 2px;
	background-color: white;
	box-shadow: 6px 2px 2px grey;
	border-radius: 5px;
}
.feature{
	color: red;
	font-weight: bold;
}
ul{
	list-style-type: none;
}
.brief{
	background-color: white;
	margin: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 50px;
	padding-right: 5px;
	border-radius: 5px;
	box-shadow: 6px 2px 2px grey;
}
footer{
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px;
}
@media only screen and (max-width: 600px){
	.main{
		margin-left: 0px;
		margin-right: 0px;
	}
}